* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    color: #ffff;
    background-color: #1a374d6c;
    min-height: 350vh;
}
nav {
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 35%;
    list-style: none;
}

nav div a {
    color: #b1d0e0;
    text-decoration: none;
}
nav ul li a {
    color: #b1d0e0;
    text-decoration: none;
}

nav ul li a:hover {
    color: #406882;
}

/* hamburger */
.toggle {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
}
.toggle input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
    width: 48px;
    height: 30px;
    left: -10px;
    top: -4px;
}
.toggle span {
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    background-color: #6da3e4;
    transition: all 1s;
}
/* mobile nav */

/* Responsive */
/* tablet */
@media screen and (max-width: 768px) {
    nav {
        padding: 1rem 2rem;
    }
    nav ul {
        width: 50%;
    }
}

/* mobile */

@media screen and (max-width: 576px) {
    .toggle {
        display: flex;
    }
    nav {
        padding: 1rem 1.5rem;
    }
    nav ul {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        height: 16rem;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 1s ease;
    }

    nav ul li {
        margin: 30px 0;
    }

    nav ul li a:hover,
    nav ul li a:active {
        color: violet;
    }

    .toggle input:checked ~ ul {
        top: 55px;
        left: 0;
    }
}

/* animation */

/* hamburger */

.toggle input:checked ~ span:nth-child(2) {
    transform: rotate(-45deg) translate(-4px, 0px);
}

.toggle input:checked ~ span:nth-child(4) {
    transform: rotate(45deg) translate(1px, 1px);
}

.toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

.toggle span:nth-child(2) {
    transform-origin: 100% 0;
}

.toggle span:nth-child(4) {
    transform-origin: 100% 0;
}

/* hero page */
.svgAtas {
    width: 100%;
    filter: drop-shadow(4px 7px 5px rgb(0 0 0 / 0.5));
}

.hero {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoHero:hover {
    filter: drop-shadow(0 15px 10px #00000075);
}

.name {
    display: flex;
}
#typing {
    width: 0ch;
    color: white;
    float: left;
    font-weight: bold;
    font-size: 40px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(40) 1s forwards;
}
#typing span {
    color: #fb8c00;
}
#line {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 40px;
    opacity: 0;
    animation: lines 5s 1s;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes lines {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#Activist {
    margin-top: 1.25rem;
    font-weight: bold;
    font-size: 25px;
    opacity: 0;
    animation: fadeIn 3s 6s forwards;
}

@keyframes fadeIn {
    0% {
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.sosmed {
    margin-top: 1.25rem;
    opacity: 0;
    animation: fadeInLeft 3s 6s forwards;
}

.logoHero {
    padding: 10px;
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    opacity: 0;
    animation: UpDown 4s 10s infinite;
}

@keyframes UpDown {
    0% {
        opacity: 0.8;
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        opacity: 0.8;
        transform: translate(0, -0px);
    }
}

/* about */

.About {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto {
    position: relative;
    display: inline;
}
.foto .back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.foto:hover .back {
    display: inline;
}

.desc {
    margin-top: 20px;
    text-align: center;
    width: 55%;
}

.table {
    width: 80%;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

table {
    font-size: 15px;
    border-collapse: collapse;
    text-align: left;
    background-color: #1a374d6c;
}
th {
    background-color: #1a374d;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
}

td {
    padding: 1rem 1.5rem;
}

tr:nth-child(even) {
    background-color: #406882;
}

.tableLove {
    width: 80%;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.judulLove {
    text-transform: uppercase;
}

/* project */
.atas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bawah {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    border-radius: 10px;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 4px;
    background-color: rgb(252, 252, 252);
    height: 22rem;
    width: 17rem;
    color: #1a374d;
}

.box:hover .card {
    filter: blur(2px);
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
}

.box:hover .card:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.125);
}

/* contact */

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.contact-us .judul-contact {
    margin: 2rem 0;
    font-size: 45px;
}

.judul-contact span {
    color: #fb8c00;
}

.contact-us form {
    width: 50%;
}

.contact-us form .formLabel {
    letter-spacing: 3px;
    font-weight: bold;
    margin: 1rem 0;
}

.contact-us form .formInput {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    margin: 1rem 0;
}

.contact-us textarea {
    display: block;
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.contact-us button {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    padding: 8px 40px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    letter-spacing: 2px;
    width: 100%;
}

/* footer */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lineFooter {
    width: 60%;
    height: 3px;
    background-color: #ffff;
}

.footer {
    margin-top: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
